<div class="container" id="home-container">
	<div class="jumbotron text-center">
	  <h1 class="display-4" id="jumboheader">Welcome to the Nature Blog</h1>
	  <p class="lead">Nature is natural and natural is best.</p>
	  <hr class="my-4">
	  <p>Read what others have to say - it just may brighten up your day!</p>
	  <a class="btn btn-success btn-lg" href="#" role="button">Sign Up!</a>
	</div>
</div>



